# Copia a .env en local (no subas .env a git)
PORT=8080
INSTANCE_NAME=local-dev

# Misma clave en las 2 EC2 detras del ALB (JWT entre instancias)
JWT_SECRET=pon-aqui-un-secreto-largo-y-unico-compartido

# MySQL (RDS en AWS, o Docker local: docker run -d -p 3306:3306 -e MYSQL_ROOT_PASSWORD=root -e MYSQL_DATABASE=lab7 mysql:8)
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=lab7
